.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.content {
  height: calc(100vh - 134px);
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0 50px;
}
.logo {
  width: 100px;
  display: flex;
  justify-content: flex-start;
  color: white;
}
.login {
  width: 100px;
  display: flex;
  justify-content: flex-end;
}
