.container {
  display: flex;
  flex-direction: column;
}
.info {
  padding: 10px 0;
}
.info > div {
  margin-right: 20px;
}

.currency {
  padding: 10px 0;
}

.currency > div {
  margin-right: 10px;
}
.green {
  color: green;
}
.red {
  color: red;
}
